* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

#gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
    overflow: hidden;
    user-select: none;
}

#score {
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    color: white;
}

#ground {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: saddlebrown;
    border-top: 10px solid lawngreen;
}

#gameOver {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.game-over {
    font-weight: bold;
    font-size: 2rem;
    color: red;
    margin-bottom: 10px;
}

#final-score {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.restart-text {
    color: white;
    font-size: 1.2rem;
}

.game-object {
    position: absolute;
}

.player-image {
    width: 100%;
    height: 100%;
}

.pipe-segment {
    background-color: green;
    border: 2px solid darkgreen;
}