* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
  min-width: 200px;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

section {
  padding: 5px;
  margin-bottom: 10px;
}

.add-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 10px;
}

.btn {
  padding: 5px 20px;
  border-radius: 100px;
  border: none;
  background-color: #2480a8;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #1d6fa5;
}
.add-btn {
  padding: 10px 20px;
}

.delete {
  background-color: #e74c3c;
}
.delete:hover {
  background-color: #c0392b;
}

.last {
  margin-left: auto;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td, th {
  min-width: 200px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}

th {
  text-align: center;
}

.empty-table {
  text-align: center;
}

.row-actions {
  display: flex;
  gap: 5px
}

.modify-form {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modify-form > div {
  min-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}
.modify-form-header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.modify-form-header h1 {
  margin: 0;
}

.modify-form form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.modify-form-close {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.2rem;
  text-align: center;
  transition: font-size .3s ease;
}
.modify-form-close:hover {
  font-size: 1.4rem;
  color: #e74c3c;
}
.modify-btn {
  padding: 10px 20px;
  align-self: center;
}

.links {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  gap: 1rem;
  background-color: #fffa;
  padding: 10px;
  margin-bottom: 10px;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:not(.active-link):hover {
  text-decoration: underline;
}

.active-link {
  font-weight: bold;
  cursor: default;
}